In [61]:
# pip install alpha-vantage
# pip install pandas
# pip install matplotlib
# hello

In [62]:
import requests
import json
from pprint import pprint
from config import AV_API_Key
import pandas as pd
import numpy as np

In [63]:
url = 'https://www.alphavantage.co/query?'

# weeklyDates2020 = pd.date_range('1/1/2020', periods=16)
# monthlyDates2020 = pd.date_range('1/1/2020', periods=4)
tickerSP = 'SPX'
tickerDOW = 'DJIA'

In [110]:
seriesIntra = 'TIME_SERIES_INTRADAY'
interval60 = '60min'
intraQueryJSONurlSP60 = f"{url}function={seriesIntra}&symbol={tickerSP}&interval={interval60}&outputsize=full&apikey={AV_API_Key}"
intraQueryJSONurlDOW60 = f"{url}function={seriesIntra}&symbol={tickerDOW}&interval={interval60}&outputsize=full&apikey={AV_API_Key}"

In [65]:
seriesDaily = 'TIME_SERIES_DAILY'
dailyQueryJSONurlSP = f"{url}function={seriesDaily}&symbol={tickerSP}&apikey={AV_API_Key}"
dailyQueryCSVurl = f"{url}function={seriesDaily}&symbol={tickerSP}&apikey={AV_API_Key}&datatype=csv"
dailyQueryJSONurlDOW = f"{url}function={seriesDaily}&symbol={tickerDOW}&apikey={AV_API_Key}"

In [66]:
seriesWeekly = 'TIME_SERIES_WEEKLY'
weeklyQueryJSONurlSP = f"{url}function={seriesWeekly}&symbol={tickerSP}&apikey={AV_API_Key}"
weeklyQueryCSVurl = f"{url}function={seriesWeekly}&symbol={tickerSP}&apikey={AV_API_Key}&datatype=csv"
weeklyQueryJSONurlDOW = f"{url}function={seriesWeekly}&symbol={tickerDOW}&apikey={AV_API_Key}"

In [67]:
seriesMonthly = 'TIME_SERIES_MONTHLY'
monthlyQueryJSONurlSP = f"{url}function={seriesMonthly}&symbol={tickerSP}&apikey={AV_API_Key}"
monthlyQueryCSVurl = f"{url}function={seriesMonthly}&symbol={tickerSP}&apikey={AV_API_Key}&datatype=csv"
monthlyQueryJSONurlDOW = f"{url}function={seriesMonthly}&symbol={tickerDOW}&apikey={AV_API_Key}"

In [111]:
intraOutput60SP = requests.get(intraQueryJSONurlSP60).json()
intraOutput60SP = intraOutput60SP.pop('Time Series (60min)')
# pprint (intraOutput60SP)

In [112]:
intraOutput60DOW = requests.get(intraQueryJSONurlDOW60).json()
intraOutput60DOW = intraOutput60DOW.pop('Time Series (60min)')
# pprint (intraOutput60DOW)

In [70]:
dailyOutputSP = requests.get(dailyQueryJSONurlSP).json()
dailyOutputSP = dailyOutputSP.pop('Time Series (Daily)')
# pprint (dailyOutputSP)

In [71]:
dailyOutputDOW = requests.get(dailyQueryJSONurlDOW).json()
dailyOutputDOW = dailyOutputDOW.pop('Time Series (Daily)')
# pprint (dailyOutputDOW)

In [72]:
weeklyOutputSP= requests.get(weeklyQueryJSONurlSP).json()
weeklyOutputSP = weeklyOutputSP.pop('Weekly Time Series')
# pprint (weeklyOutputSP)

In [88]:
weeklyOutputDOW = requests.get(weeklyQueryJSONurlDOW).json()
weeklyOutputDOW = weeklyOutputDOW.pop('Weekly Time Series')
# pprint (weeklyOutputDOW)

In [89]:
monthlyOutputSP = requests.get(monthlyQueryJSONurlSP).json()
monthlyOutputSP = monthlyOutputSP.pop('Monthly Time Series')
# pprint (monthlyOutputSP)

In [90]:
monthlyOutputDOW = requests.get(monthlyQueryJSONurlDOW).json()
monthlyOutputDOW = monthlyOutputDOW.pop('Monthly Time Series')
# pprint (monthlyOutputDOW)

In [113]:
intraDFsp60 = pd.DataFrame(intraOutput60SP)
intraDFsp60 = intraDFsp60.transpose()
intraDFsp60.index.name = 'Date & Hour'
intraDFsp60 = intraDFsp60.rename(columns={"1. open": "open", "2. high": "high", "3. low":"low", "4. close":"close", "5. volume":"volume", })
# weeklyDF = pd.DataFrame(np.random.randn(16, 5), index=monthlyDates2020, columns=['open', 'high', 'low', 'close', 'volume'])
intraDFsp60 = intraDFsp60.head(540)
intraDFsp60

                          open       high        low      close     volume
Date & Hour
2020-04-17 15:30:00  2852.5901  2879.2200  2852.5901  2873.5500  463391214
2020-04-17 14:30:00  2841.3401  2852.8999  2833.4299  2852.6399  281511757
2020-04-17 13:30:00  2846.5200  2851.7600  2840.6201  2841.3799  244544945
2020-04-17 12:30:00  2839.7800  2853.8000  2839.5400  2846.4800  260098934
2020-04-17 11:30:00  2832.9800  2845.3999  2831.6699  2839.7500  288599117
...                        ...        ...        ...        ...        ...
2020-01-23 13:30:00  3314.1001  3323.9199  3313.8301  3322.5400  143642234
2020-01-23 12:30:00  3313.7100  3317.3899  3310.2400  3314.1101  126370139
2020-01-23 11:30:00  3304.5801  3313.9900  3304.5200  3313.7400  149681291
2020-01-23 10:30:00  3313.1101  3316.0300  3304.1201  3304.5801  195718389
2020-01-23 09:30:00  3315.7700  3316.0100  3301.9199  3313.1299          0

[420 rows x 5 columns]

In [114]:
intraDFdow60 = pd.DataFrame(intraOutput60DOW)
intraDFdow60 = intraDFdow60.transpose()
intraDFdow60.index.name = 'Date & Hour'
intraDFdow60 = intraDFdow60.rename(columns={"1. open": "open", "2. high": "high", "3. low":"low", "4. close":"close", "5. volume":"volume", })
# weeklyDF = pd.DataFrame(np.random.randn(16, 5), index=monthlyDates2020, columns=['open', 'high', 'low', 'close', 'volume'])
intraDFdow60 = intraDFdow60.head(540)
intraDFdow60

                           open        high         low       close    volume
Date & Hour
2020-04-17 15:30:00  24038.8496  24264.2109  24038.8496  24232.0391  65742022
2020-04-17 14:30:00  23923.2891  24040.8906  23867.6309  24039.0508  40621828
2020-04-17 13:30:00  23970.7793  24015.9004  23907.5293  23923.3906  33277379
2020-04-17 12:30:00  23903.9395  24030.9805  23901.8691  23970.0605  33488591
2020-04-17 11:30:00  23853.0996  23963.6406  23852.9805  23903.4395  41939805
...                         ...         ...         ...         ...       ...
2020-01-23 13:30:00  29079.0098  29159.3809  29076.1191  29151.6699  19668253
2020-01-23 12:30:00  29059.9805  29105.9199  29038.5195  29079.6699  17054788
2020-01-23 11:30:00  28988.0605  29067.0996  28987.2793  29060.3398  22362341
2020-01-23 10:30:00  29077.3203  29115.2109  28979.8301  28987.8906  28504995
2020-01-23 09:30:00  29111.0195  29111.0195  28966.9805  29077.1602         0

[420 rows x 5 columns]

In [93]:
dailyDFsp = pd.DataFrame(dailyOutputSP)
dailyDFsp = dailyDFsp.transpose()
dailyDFsp.index.name = 'Date'
dailyDFsp = dailyDFsp.rename(columns={"1. open": "open", "2. high": "high", "3. low":"low", "4. close":"close", "5. volume":"volume", })
# weeklyDF = pd.DataFrame(np.random.randn(16, 5), index=monthlyDates2020, columns=['open', 'high', 'low', 'close', 'volume'])
dailyDFsp = dailyDFsp.head(90)
dailyDFsp

                 open       high        low      close      volume
Date
2020-04-17  2842.4299  2862.1599  2830.8799  2844.7000  2411851790
2020-04-16  2799.3401  2806.5100  2764.3201  2799.5500  5179990000
2020-04-15  2795.6399  2801.8799  2761.5400  2783.3601  5203390000
2020-04-14  2805.1001  2851.8501  2805.1001  2846.0601  5567400000
2020-04-13  2782.4600  2782.4600  2721.1699  2761.6299  5274310000
...               ...        ...        ...        ...         ...
2019-12-13  3166.6499  3182.6799  3156.5100  3168.8000  3736870000
2019-12-12  3141.2300  3176.2800  3138.4700  3168.5701  3990690000
2019-12-11  3135.7500  3143.9800  3133.2100  3141.6299  3252540000
2019-12-10  3135.3601  3142.1201  3126.0901  3132.5200  3343790000
2019-12-09  3141.8601  3148.8701  3135.4600  3135.9600  3345990000

[90 rows x 5 columns]

In [94]:
dailyDFdow = pd.DataFrame(dailyOutputDOW)
dailyDFdow = dailyDFdow.transpose()
dailyDFdow.index.name = 'Date'
dailyDFdow = dailyDFdow.rename(columns={"1. open": "open", "2. high": "high", "3. low":"low", "4. close":"close", "5. volume":"volume", })
# dailyDF = pd.DataFrame(np.random.randn(16, 5), index=monthlyDates2020, columns=['open', 'high', 'low', 'close', 'volume'])
dailyDFdow = dailyDFdow.head(90)
dailyDFdow

                  open        high         low       close     volume
Date
2020-04-17  23817.1504  24150.1992  23817.1992  23958.6602  357322008
2020-04-16  23543.6602  23598.0801  23211.3809  23537.6797  471050000
2020-04-15  23600.7207  23649.7207  23233.3203  23504.3496  437630000
2020-04-14  23690.5703  24040.5801  23683.4395  23949.7598  485910000
2020-04-13  23698.9297  23698.9297  23095.3496  23390.7695  394320000
...                ...         ...         ...         ...        ...
2019-12-13  28123.6406  28290.7305  28028.3203  28135.3809  250660000
2019-12-12  27898.3398  28224.9492  27859.8691  28132.0508  277740000
2019-12-11  27867.3105  27925.5000  27801.8008  27911.3008  213510000
2019-12-10  27900.6504  27949.0195  27804.0000  27881.7207  213250000
2019-12-09  27987.0508  28010.4199  27906.1406  27909.5996  217000000

[90 rows x 5 columns]

In [95]:
weeklyDFsp = pd.DataFrame(weeklyOutputSP)
weeklyDFsp = weeklyDFsp.transpose()
weeklyDFsp.index.name = 'Week End Date'
weeklyDFsp = weeklyDFsp.rename(columns={"1. open": "open", "2. high": "high", "3. low":"low", "4. close":"close", "5. volume":"volume", })
# weeklyDFsp = pd.DataFrame(np.random.randn(16, 5), index=monthlyDates2020, columns=['open', 'high', 'low', 'close', 'volume'])
weeklyDFsp = weeklyDFsp.head(18)
weeklyDFsp

                    open       high        low      close       volume
Week End Date
2020-04-17     2782.4600  2862.1599  2721.1699  2844.5901  23637115457
2020-04-09     2578.2800  2818.5701  2574.5701  2789.8201  27169090000
2020-04-03     2558.9800  2641.3899  2447.4900  2488.6499  30804590000
2020-03-27     2290.7100  2637.0100  2191.8601  2541.4700  37182690000
2020-03-20     2508.5901  2562.9800  2280.5200  2304.9199  41887220000
2020-03-13     2863.8899  2882.5901  2478.8601  2711.0200  40521170000
2020-03-06     2974.2800  3136.7200  2901.5400  2972.3701  29895510000
2020-02-28     3257.6101  3259.8101  2855.8401  2954.2200  31535270000
2020-02-21     3369.0400  3393.5200  3328.4500  3337.7500  15253460000
2020-02-14     3318.2800  3385.0901  3317.7700  3380.1599  18033560000
2020-02-07     3235.6599  3347.9600  3235.6599  3327.7100  19469980000
2020-01-31     3247.1599  3293.4700  3214.6799  3225.5200  19249400000
2020-01-24     3321.0300  3337.7700  3281.5300  3295.4700  15197180000
2020-01-17     3271.1299  3329.8799  3268.4299  3329.6201  18071600000
2020-01-10     3217.5500  3282.9900  3214.6399  3265.3501  17666700000
2020-01-03     3240.0901  3258.1399  3212.0300  3234.8501  12826640000
2019-12-27     3226.0500  3247.9299  3220.5100  3240.0200   8946500000
2019-12-20     3183.6299  3225.6499  3183.6299  3221.2200  22078130000

In [96]:
weeklyDFdow = pd.DataFrame(weeklyOutputDOW)
weeklyDFdow = weeklyDFdow.transpose()
weeklyDFdow.index.name = 'Week End Date'
weeklyDFdow = weeklyDFdow.rename(columns={"1. open": "open", "2. high": "high", "3. low":"low", "4. close":"close", "5. volume":"volume", })
# weeklyDF = pd.DataFrame(np.random.randn(16, 5), index=monthlyDates2020, columns=['open', 'high', 'low', 'close', 'volume'])
weeklyDFdow = weeklyDFdow.head(18)
weeklyDFdow

                     open        high         low       close      volume
Week End Date
2020-04-17     23698.9297  24150.1992  10000.0000  23960.8008  2146799364
2020-04-09     21693.6309  24008.9902  21693.6309  23719.3691  2244560000
2020-04-03     21678.2207  22480.3691  20735.0195  21052.5293  2602980000
2020-03-27     19028.3594  22595.0605  18213.6504  21636.7793  3677640000
2020-03-20     20917.5293  21768.2793  18917.4609  19173.9805  4087140000
2020-03-13     24992.3594  25020.9902  21154.4609  23185.6191  3820590000
2020-03-06     25590.5098  27102.3398  25226.6191  25864.7793  2819020000
2020-02-28     28402.9297  28402.9297  24681.0098  25409.3594  3019270000
2020-02-21     29282.7793  29409.0898  28892.6992  28992.4102  1096230000
2020-02-14     28995.6602  29568.5703  28995.6602  29398.0801  1361730000
2020-02-07     28319.6504  29408.0508  28319.6504  29102.5098  1514760000
2020-01-31     28542.4902  28944.2402  28169.5293  28256.0293  1700440000
2020-01-24     29269.0508  29341.2109  28843.3105  28989.7305  1291150000
2020-01-17     28869.0098  29373.6191  28819.4297  29348.0996  1371470000
2020-01-10     28465.5000  29009.0703  28418.6309  28823.7695  1316300000
2020-01-03     28654.7598  28872.8008  28376.4902  28634.8809   866350000
2019-12-27     28491.7793  28701.6602  28491.7793  28645.2598   647930000
2019-12-20     28191.6699  28608.6406  28191.6699  28455.0898  1729780000

In [97]:
monthlyDFsp = pd.DataFrame(monthlyOutputSP)
monthlyDFsp = monthlyDFsp.transpose()
monthlyDFsp.index.name = 'Month End Date'
monthlyDFsp = monthlyDFsp.rename(columns={"1. open": "open", "2. high": "high", "3. low":"low", "4. close":"close", "5. volume":"volume", })
# monthlyDF = pd.DataFrame(np.random.randn(4, 5), index=monthlyDates2020, columns=['open', 'high', 'low', 'close', 'volume'])
monthlyDFsp = monthlyDFsp.head(4)
monthlyDFsp

                     open       high        low      close        volume
Month End Date
2020-04-17      2498.0801  2862.1599  2447.4900  2844.7900   69300563576
2020-03-31      2974.2800  3136.7200  2191.8601  2584.5901  161801100000
2020-02-28      3235.6599  3393.5200  2855.8401  2954.2200   84292270000
2020-01-31      3244.6699  3337.7700  3214.6399  3225.5200   77104420000

In [98]:
monthlyDFdow = pd.DataFrame(monthlyOutputDOW)
monthlyDFdow = monthlyDFdow.transpose()
monthlyDFdow.index.name = 'Month End Date'
monthlyDFdow = monthlyDFdow.rename(columns={"1. open": "open", "2. high": "high", "3. low":"low", "4. close":"close", "5. volume":"volume", })
# monthlyDF = pd.DataFrame(np.random.randn(4, 5), index=monthlyDates2020, columns=['open', 'high', 'low', 'close', 'volume'])
monthlyDFdow = monthlyDFdow.head(4)
monthlyDFdow

                      open        high         low       close       volume
Month End Date
2020-04-17      21227.3809  24150.1992  10000.0000  23956.2207   5877773760
2020-03-31      25590.5098  27102.3398  18213.6504  21917.1602  15521140000
2020-02-28      28319.6504  29568.5703  24681.0098  25409.3594   6991990000
2020-01-31      28638.9707  29373.6191  28169.5293  28256.0293   6170770000

In [115]:
intraDFsp60.to_json("Stock Data/IntraDayCovidStocks_60min_SP500.json", orient='index')
dailyDFsp.to_json("Stock Data/DailyCovidStocks_SP500.json", orient='index')
weeklyDFsp.to_json("Stock Data/WeeklyCovidStocks_SP500.json", orient='index')
monthlyDFsp.to_json("Stock Data/MonthlyCovidStocks_SP500.json", orient='index')

In [116]:
intraDFdow60.to_json("Stock Data/IntraDayCovidStocks_60min_DOWindustrial.json", orient='index')
dailyDFdow.to_json("Stock Data/DailyCovidStocks_DOWindustrial.json", orient='index')
weeklyDFdow.to_json("Stock Data/WeeklyCovidStocks_DOWindustrial.json", orient='index')
monthlyDFdow.to_json("Stock Data/MonthlyCovidStocks_DOWindustrial.json", orient='index')

In [117]:
intraDFsp60.to_csv("Stock Data/IntraDayCovidStocks_SP500.csv")
dailyDFsp.to_csv("Stock Data/DailyCovidStocks_SP500.csv")
weeklyDFsp.to_csv("Stock Data/WeeklyCovidStocks_SP500.csv")
monthlyDFsp.to_csv("Stock Data/MonthlyCovidStocks_SP500.csv")

In [118]:
intraDFdow60.to_csv("Stock Data/IntraDayCovidStocks_DOWindustrial.csv")
dailyDFdow.to_csv("Stock Data/DailyCovidStocks_DOWindustrial.csv")
weeklyDFdow.to_csv("Stock Data/WeeklyCovidStocks_DOWindustrial.csv")
monthlyDFdow.to_csv("Stock Data/MonthlyCovidStocks_DOWindustrial.csv")